.intro
  .wrapper
    .topbar
      .logo
        %img{src: '/images/logo.png'}
      .phone
        (495) 797 96 20

    .title
      Увеличение мощности
      %br
      и динамики вашего автомобиля до 30%


      .small
        Путем настройки автомобильной электроники

    .button.show-form


%section
  .wrapper
    .title
      Эффективность чип тюнинга


    .samples
      .arrow.left#prev-sample
      .arrow.right#next-sample
      .samples-slider#samples
        = haml :'samples/sample1'
        = haml :'samples/sample2'


%section.models
  .wrapper
    .title
      Виды чипов и стоимость прошивки

    .models
      .arrow.left#prev-model
      .arrow.right#next-model
      .models-slider#models
        = haml :'models/model1'
        = haml :'models/model3'
        = haml :'models/model2'

    .offer.clearfix
      .offer-text
        Узнайте подойдет ли данный чип
        %br
        на Ваш автомобиль
      .button.show-form


%section
  .wrapper
    .title
      Как проходит процесс установки чипа?

    .process.clearfix
      .step
        .trigger
          .icon
            %img{src: '/images/icon_1.png'}
          .text
            Производим диагностику
            %br
            герметичности турбосистемы
      .step
        .trigger
          .icon
            %img{src: '/images/icon_2.png'}
          .text
            При необходимости, устраняем
            %br
            неполадки в турбосистеме
      .step
        .trigger
          .icon
            %img{src: '/images/icon_3.png'}
          .text
            Установливаем чип с программой
            %br
            для вашего автомобиля


%section
  .wrapper
    .title
      Отзывы наших клиентов


    .reports
      .report.first
        .info
          .report-name
            Валерий Камышев,
            %span.red BMW 320

          .report-text
            Пол года езжу на новой прошивке, полет хороший!! Многие думают что АКПП
            и редуктор заднего моста не выдержит после чип-тюнинга... извините это
            пустые слова... настройка действительно в заводских рамках!
            Ощущения просто взлетает... никогда не ощущал, но сейчас 80 до 140
            буквально вжимает в сидение..буквально вжимает в сидение..


      .report.second
        .info
          .report-name
            Павел Краснов,
            %span.red BMW 5

          .report-text
            После чиповки 3-го апреля проехал километров 200 в различных режимах, машина BMW 5 (пробки Москвы, почти свободное загородное шоссе). Однозначно машинка стала заметно резвее, получше эластичность (там где на 3й передаче в горку въезжал натужно, теперь на той же скорости заметно легче :)). По расходу топлива еще рано что-либо говорить, но больших изменений скорее всего нет.В общем, чиповка - дело полезное ИМХО.
            %br
            Спасибо за честную работу "next cheap».

      .report.third
        .info
          .report-name
            Алексей Сидорин,
            %span.red Audi A6

          .report-text
            Сегодня и меня сделали счастливым!
            %br
            Первые впечатления:
            %br
            Проехал 10 км! Машина набирает обороты и скорость очень и приочень равномерно, ни провалов ни скачков, на первой передаче до 4000 набирает мгновенно и появился ощутимое небольшое прижатие к креслу, ранее двигатель визжал при педалировании теперь бурчит и делает своё дело исправно.
            Самое главное появилось взаимопонимание и отклик на мои действия. Но не ждите что машина по мановению палочки будет превращатся в точку за 3 секунды.
            Спасибо за работу, Next Chip


.contacts
  Мы находимся по адресу  ул.Генерала Дорохова, дом 20

#map


.footer.clerfix
  .wrapper
    .left
      %img{src: '/images/logo.png'}

    .right
      %a{href: 'http://abardacha.ru', target: '_blank'}
        %img{src: '/images/abardacha.png'}